:root {
  --main-background: #1e2027;
  --main-color: #fff;
  --primary: #1890ff;
  --accent: #d3ac3f;
  --gender-w: #e11584;
  --contrast-font-color: #1e2027;
  --second-contrast: #262a2f;
  --avatar-background: #595959;
  --modal-background: rgba(0, 0, 0, 0.6);
}
