@import './index.css';
@import './colors.css';

*,
* ::before,
* ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.3;
  color: var(--main-color);
  background-color: var(--main-background);
}

input,
textarea,
select {
  color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--main-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
  transition: color 0.2s;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

nav.burger-active {
  right: 0;
}

button.active-top {
  display: block;
}

button[disabled] {
  opacity: 0.4;
}

button[disabled]:hover {
  cursor: default;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  opacity: 0.6;
  color: var(--primary);
}

.active-link {
  color: var(--primary);
}

/* FORM CSS */

form {
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-name {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}

.remember-name {
  font-size: 14px;
}

input {
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 0;
}

input.input-field {
  width: 180px;
  font-size: 14px;
  background-color: var(--second-contrast);
}

input.input-file {
  font-size: 14px;
}

select.input-city {
  width: 180px;
  padding: 5px 0;
  font-size: 14px;
  background-color: var(--second-contrast);
}

input[type='checkbox'] {
  margin-left: auto;
}

.btn-submit {
  background-color: var(--primary);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 14px;
  border: 0;
  padding: 10px;
}

.form-wrapper {
  display: flex;
  padding: 10px 0;
  gap: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.input-wrapper-gorizont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 10px;
}

.genders-wrapper {
  display: flex;
}

.gender-name {
  padding-left: 5px;
  padding-right: 10px;
  font-size: 14px;
}
